* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%wh;
}

/* parte superiore */
header {
    height: 130px;
    background-color: hsl(196, 100%, 50%);
    background-image: url("../img/pattern.png");
    position: relative;
}

/* titolo header */
#title_header {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;

}

main {
    width: 100%;
}

/* titolo main */
.title_main {
    font-size: 45px;
}

/* sottotitolo main */
.sub_title_main {
    color: #a39a9a;
}

/* parte con cambio colore sottotitolo */
#thebooleaner {
    color: #00ccff
}

/* immagine main */
.imgmain {
    margin-top: 15px;
    width: 45%;
    height: 430px;
}

/* articolo con paragrafo */
article {
    margin-top: 20px;
    margin-bottom: 20px;

}

/* testo evidenziato */
.highlighted {
    background-color: yellow;
}

/* lista non ordinata */
.list {
    margin-left: 25px;
    margin-bottom: 30px;
}

/* tabella */
table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    color: black;
    border: 0px;
    border-collapse: collapse;


}

/* parte superiore tabella  */
thead {
    background-color: #47b5ec;
    color: white;
    font-weight: bold;
}

/* body tabbella */
tbody {
    background-color: hsl(187, 68%, 66%);

}

/* cambio colore body background */
#tbodywhite {
    background-color: rgb(232, 241, 242);

}

/* footer pagina */
#footer {
    position: relative;

}

/* immagini footer */
#img_footer {
    margin-top: 10px;
}

/* testo immagini footer */
.text_img_footer {
    position: absolute;
    color: white;
    font-weight: bold;
    left: 5px;
    top: 15px;

}